---
import { contentfulClient } from '../../lib/contentful';
import type { BlogPost } from '../../lib/contentful';
import { RenderRichText } from 'rich-text-astro-renderer';
import { INLINES, BLOCKS, Node } from '@contentful/rich-text-types';
import ImageWrapper from '../../components/ImageWrapper.astro';

export type Props = { post: BlogPost };

export async function getStaticPaths() {
    const { items } = await contentfulClient.getEntries<BlogPost>({
        content_type: 'blogPost',
    });
    const pages = items.map((post) => ({
        params: { slug: post.fields.slug },
        props: {
            post: post.fields,
        },
    }));
    return pages;
}

const { post } = Astro.props;

const renderOptions = {
    renderNode: {
        [BLOCKS.EMBEDDED_ASSET]: (node, next) => {
            return {
                Component: ImageWrapper,
                props: { node },
            };
        },
    },
};
---

<html lang="en">
    <head>
        <title>{post.title}</title>
    </head>
    <body>
        <h1>{post.title}</h1>
        <time>{post.date}</time>
        <RenderRichText document={post.content} {renderOptions} />
    </body>
</html>
